.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    width: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    text-align: center;
    margin: 0 0 0 0;
    font-size: 250%;
}

h2 {
    text-align: center;
    margin: 0 0 0 0;
    font-size: 200%;
}

p {
    text-align: center;
    font-size: large;
    font-weight: bold;
    line-height: 150%;
    padding-left: 5%;
    padding-right: 5%;
}